<h1>List of restaurants</h1>

<%= link_to "Add a new restaurant", new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
  <div>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <h4><%= restaurant.address %></h4>
    <h4><%= restaurant.category %></h4>
  </div>
<% end %>
